@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {}

body {
  background-color: #005BF7;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'League Gothic';
  src: url('/fonts/league_gothic/LeagueGothic-Regular') format('woff2'),
    url('/fonts/league_gothic/LeagueGothic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Add desktop-specific styles here */
.desktop-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.desktop-mobile-container {
  position: relative;
  border: 7px #3e3e3e solid;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.644);
  background-color: #005BF7;
  border-radius: 48pt;
  overflow: hidden;
  width: 23vw;
  height: 100vh;
}

.knob {
  position: absolute;
  top: 5px;           /* Adjust vertical position as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 5vw;       /* Adjust width as needed */
  height: 2.6vh;        /* Adjust height as needed */
  border-radius: 16pt;
  background-color: #232323; /* Color can be adjusted */
  z-index: 10;
}

.no-scrollbar {
  scrollbar-width: none;
}