@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Bricolage';
  src: url('/fonts/Bricolage-Regular.woff2') format('woff2'),
    url('/fonts/Bricolage-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-bricolage {
  font-family: 'Bricolage Grotesque', sans-serif;
}

.font-heading {
  font-family: 'Bricolage', sans-serif;
  font-weight: 700;
}

.text-maroon {
  color: #4d1c1c;
}

.bg-cream {
  --tw-bg-opacity: 1;
  background-color: rgb(255 248 229/var(--tw-bg-opacity));
}

/* Animation classes */
.floating {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.fade-in {
  animation: fadeIn 0.8s ease-in forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.zoominout {
  animation: zoominout 12s ease-in-out infinite;
}

@keyframes zoominout {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}

.bottom-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.text-black {
  color: #000;
}
